#!/bin/sh
# This is for my ThinkPad T470S.  Notice I am using HDMI-2 as primary.

# only update xrandr if HDMI-2 is connected
if xrandr | grep " connected " | awk '{ print$1  }' | grep HDMI-2; then
  xrandr --output HDMI-2 --primary --mode 2560x1440 --pos 1600x0 --rotate normal --output HDMI-1 --off --output DP-1 --off --output eDP-1 --mode 1600x900 --pos 0x0 --rotate normal --output DP-2 --off
fi

